
.large {
    width: 350px;
    height: auto;
}

.small {
    width: 100px;
    height: auto;
}

.footer, .bigcontainer1 {
    background-color: #1F2937;
}

body {
    display: flex;
    flex-direction: column;
}

.bigcontainer1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    padding-bottom: 40px;
}

.leftcontent {
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.signup1 {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 4px 16px;
}

a {
    text-decoration: none;
}

h3, .contentheader {
    color: #f9faf8;
}

h3 {
    font-size: 24px;
    width: 350px;
}

.contentheader {
    font-size: 48px;
    font-weight: 800;
}

.contenttext, a, .signup1 {
    color: #e5e7eb;
}

/*------------ PART 2 -------------*/

.bigcontainer2 {
    display: flex;
    flex-direction: column;
}

.cardtainer {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 62px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 135px;
    text-align: center;
    align-items: center;
    gap: 4px;
}

.small {
    width: 135px;
    height: auto;
    border-style: solid;
    border-radius: 25px;
    border-color: #3882f6;
    border-width: 3px;
}

.infoheader {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    text-align: center;
    padding: 32px;
}


/*------------PART 3---------------*/

.quotebox {
    display: flex;
    flex-direction: column;
    padding: 64px;
    background-color: #e5e7eb;
    align-items: center;
}

.quoteandauthor {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 700px;
    align-self: center;
}

.author {
    align-self: flex-end;
    font-weight: bolder;
}

.lastcontainer {
    display: flex;
    justify-content: center;
    padding: 48px;
}

.infobar {
    display: flex;
    padding: 36px 96px;
    border-radius: 6px;
    gap: 64px;
    background-color: #3882f6;
    align-items: center;
}

.signup2 {
    background-color: #3882f6;
    border-color: white;
    color: white;
    padding: 4px 24px;
    border-radius: 6px;
}

.text {
    color: #f9faf8;
}

.infobarheader {
    font-size: 20px;
}

.infobartext {
    font-size: 12px;
}


.footer {
    padding: 32px;
    text-align: center;
    color: #f9faf8;
}

